@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



:root{
    --bg-color:#150485;
    --primary-color:#03C4A1;
    --secondary-color:#C62A88;
    --font: "Nunito Sans", sans-serif;
}

body{
    background-color: var(--bg-color);/*cor de fundo*/
    color: var(--primary-color);/*cor da fonte*/
    font-family: var(--font);/*estilo de fonte*/
    height: 100vh;/*faz com que o elemento ocupe 100% da altura da janela do navegador*/
    margin: 0;/*margem*/
}

header{
    background-color: var(--secondary-color);/*cor de fundo*/
    text-align: center;/*Alinhamento do texto ao centro*/
}

h1{
    font-size: 2rem;/*tamanho da fonte*/
    color: var(--bg-color);/*cor de fundo*/
    font-weight: 700;/*peso da fonte*/
}
